<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Here are some major advantures I had in the past 4 years.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015-2016</h4>
                                <h4 class="subheading">Getting professional</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After a year of preparation and self-training. I participated in the HKUST Robotics Team and led a team of software engineers. I learned a lot about robotics, and shared a lot more of what I knew. It was a major turning point in my college life.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fall 2016</h4>
                                <h4 class="subheading">Cultural exposure</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A three-month exchange to an oversea university is always rewarding. A new education style encouraged me to reach out for opportunities, academic-wise and social-wise. Now I am eager to actively seek for even more experiences.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jan 2017-Now</h4>
                                <h4 class="subheading">Getting into research</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Undergraduate research plays a significant role in my university goals. Having an interesting yet novel topic to work on triggers my passion in digging deeper into the field of Computer Science. The passion and curiosity are the most important here.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Summer 2017</h4>
                                <h4 class="subheading">Combining the two</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nothing is more satisfying than being able to use all that I have learned in one project. Not only the technical knowledge, but the communication skills, widened mindset, all contributes to perfecting one solid project. Participating in the HKUST-Harvard research project allowed me to do just that.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Dec 2017</h4>
                                <h4 class="subheading">"Academic paycheck"</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Months of work and research has finally paid off. Our paper titled <i>Emotion Recognition through Gait on Mobile Devices</i> has been accepted to the PerCom 2018 EmotionAware workshop! This is one tiny step for research, one giant leap to prepare myself for further studies.</p>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aug 2018</h4>
                                <h4 class="subheading">"New page in life"</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Starting from August 2018, I will be studying for an MS CS degree at University of Illinois Urbana Champaign! The 2 year experience will no doubt offer me ample opportunities to learn and grow.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>My 
                                <br>Journey
                                <br>Continues!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
