<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experiences</h2>
                <h3 class="section-subheading text-muted">I had some great experiences that taught me a lot.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Junior Research Assistant</h4>
                <p class="text-muted">From Jun-Aug 2018, I was appointed as a junior research assistant by Prof. Chi-Keung Tang at HKUST. I worked with the professor and several groups of undergraduate students on various computer vision problems. We are looking forward to present our ideas at the incoming computer vision conference!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Undergraduate Research</h4>
                <p class="text-muted">Since Spring 2017, I have been researching on Emotion Recognition from Gait. I hope to explore the possibilty of <i><b>visually</b></i> recognizing pedestrians' emotions through their walking patterns. We envision ample opportunities and applications of our work, especially when facial expression involves privacy issues, or when they are difficult obtain.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">International Design Experience</h4>
                <p class="text-muted">In Summer 2017, I participated in the <a href="https://www.seng.ust.hk/exchange/harvard/">Harvard-HKUST design experience</a>. We designed, manufactured and assembled a Personal Electric Vehicle in Harvard University. I took part in all of Mechanical, Electrical and Software. Our team successfully built a functional PEV within the period of 6 weeks.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">HKUST Robotics Team</h4>
                <p class="text-muted">From 2015-2016, I was the Head of Software of the <a href="https://robotics.ust.hk/">HKUST Robtics Team</a>, <a href="http://www.epoxsea.com/">ROV subteam</a>. We designed underwater robots from scratch. I was responsible for UI design, control station to robot communication, robot vision. Our team won the 1st place in the regional/Asia competition and 4th place in the International competition.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Internship</h4>
                <p class="text-muted">I had a summer internship in 2016 working in a local company. I was responsible for implementing a P2P system using TCP/UDP hole punching, which is used for DVR/User match-making. The implementation enabled minimum load on the server provided by the company.</p>
            </div>
        </div>
    </div>
</section>
